* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 30vh;
}

.logo {
    margin-bottom: 10vh;
}

.card-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.footer {
    margin-top: auto;
    display: flex;
}

.github {
    height: 0px;
    width: 50px;
}

.team {
    display: flex;
}