* {
    box-sizing: border-box;
}

.canvas {
    height: 70%;
    width: 90%;
    background-color: whitesmoke;
    margin: auto;
    display: flex;
}

.bar {
    width: 10%;
    background-color: rgb(0, 217, 255);
    align-self: flex-end;
    margin: 1px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}