.canvas {
    height: 70%;
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    display: flex;
}

.bar {
    width: 10%;
    background-color: black;
    align-self: flex-end;
    margin: 1px;
}