* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
}

.left,
.right {
    height: 100vh;
}


/* left side */
.left {
    width: 30%;
}

select {
    width: 100%;
    font-size: 24px;
    text-align: center;
    height: 10%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #f1f1f1;
    font-size: 18px;
    border: none;
    width: 50%;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
}

/* Animate */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* right side */
.right {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    font-size: 24px;
    justify-content: space-evenly;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    height: 10vh;
}

.usr-input {
    display: flex;
    flex-direction: column;
}

button {
    height: 70%;
    width: 100px;
}
